{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
{{ this.body }}

  <h2>Workshop Details</h2>
  <ul>
  {% for ws in this.children %}
  <li><a href="{{ws|url}}">{{ws.title}}</a> : {{ws.presenter}}</li>
  {% endfor %}
  </ul>
  
  {% endblock %}
