{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h1>{{ this.title }}</h1>
<h2>{{this.presenter}} : {{this.affiliation}}</h2>
{{ this.description }}

<h2>Prerequisites</h2>
{{ this.prereqs }}

{% if this.attachments %}
<h2>Attachments</h2>
<ul>
{% for att in this.attachments %}
<li><a href="{{att|url}}">{{att.title}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
